{% extends 'base.html'  %}
{% block title %}Feedbacks{% endblock %}
{% block content %}
    <h2 class='display-4 text-info'> User Name: {{user.username}}</h2>
    <div class="card my-4">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">First Name:{{ user.first_name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Last Name:{{ user.last_name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Email :{{ user.email }}</h6>    
            <a href='/users/{{ user.username }}/feedback/add' class='btn btn-sm btn-success'>Add Feedback</a>
            <form style="display:inline;" action="/users/{{ user.username }}/delete" method="POST">
                <button class="btn btn-sm btn-danger">Delete Account</button>
            </form>                  
        </div>
    </div>

    {% for feedback in feedbacks %}
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title text-info">{{ feedback.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ feedback.content }}</h6>
            {% if feedback.username == session['user_name'] %}
                <a href='/feedback/{{ feedback.id }}/update' class='btn btn-sm btn-success'>
                    <i class="fas fa-pencil-alt"></i></a>
                <form style="display:inline;" action="/feedback/{{feedback.id}}/delete" method="POST">
                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                </form>
                {% endif %}
        </div>
    </div>

    {% endfor %}
            
{% endblock %}